.swiper {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 20px;
  }
/* 
.swiper, swiper-container{
  position:static !important;
} */




.swiper-slide {
    text-align: center;
    font-size: 100px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
  perspective: 2000px;
}

.swiper-slide img:hover {
  transform: translateZ(200px);
  transition: transform 1s;
}

.swiper-slide img:not(:hover) {
  transition: transform 1s;
  transform: translateZ(0);
}

/* .swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,75%) !important;
} */

/* .swiper-button-next{
  right: var(--swiper-navigation-sides-offset,70px) !important;
  left: auto;
}

.swiper-button-prev{
  left: var(--swiper-navigation-sides-offset,70px) !important;
  right: auto;
} */